Django
requests
chromadb
openai
djangorestframework
logging
numpy
plotly
wyge==1.1.6
markdown
sqlalchemy
streamlit
pandas
hdbcli
langchain
langchain_openai
qdrant_client
dotenv
psycopg2
